{% extends 'base.html.twig' %}

{% block title %}Studio Prunelle - Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Bienvenue sur Studio Prunelle</h1>
            <p class="lead mt-4">Votre destination pour des créations uniques.</p>
        </div>
    </div>
</div>
{% endblock %}
